.registration-wrapper{
      margin:50px auto;
      border-radius:5px;
      max-width:600px;
      background:#fff;
}
.nav-tabs{
      background:#eee;
      border-radius:5px 5px 0 0;
}
.nav-tabs li{
      width:50%;
      text-align:center;
      color:#969696;
      outline:none;
}
.nav-tabs a, .nav-tabs a:hover{
      color:#969696;
      outline:none;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active{
      background-color: #fff !important;
      border:none !important;
      border-bottom:2px solid #fff !important;
      box-shadow:none !important;
      outline:0;
}
.authentification{
      max-width:600px;
}
.authentification .icons{
      width:170px;
      margin:30px auto;
}
/* registration */
.cd-form {
  width: 90%;
  max-width: 600px;
  margin: 4em auto;
}
.cd-form::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form fieldset {
  margin: 24px 0;
}
.cd-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1;
}
.cd-form div {
  /* form element wrapper */
  position: relative;
  margin: 20px 0;
}
.cd-form h4, .cd-form .cd-label {
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px;
}
.cd-form .cd-label {
  display: block;
}
.cd-form input, .cd-form textarea, .cd-form select, .cd-form label {
  font-size: 1.6rem;
  color: #2b3e51;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"],
.cd-form textarea,
.cd-form select {
  /* general style for input elements */
  border:0;
  box-shadow: none;
  padding:10px;
  opacity:0.5;
  background-color: #e8e8e8;
  border-radius: .25em;
  -webkit-transition: .3s ease;
 -moz-transition: .3s ease;
 transition: .3s ease;
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form input[type="password"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  opacity:1;
  background:#fafafa;
  border-radius:0;
  outline: none;
  border-bottom:1px solid  #2c97de;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cd-form input[type="submit"] {
  /* button style */
  border: none;
  margin-bottom:30px;
  background:#fff;
  border:2px solid #009688;
  border-radius: .25em;
  padding: 5px 20px;
  color: #009688;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: .3s ease;
 -moz-transition: .3s ease;
 transition: .3s ease;
}
.cd-form input[type="submit"]:hover {
  background: #009688;
  color:#fff;
}
d-label{
      margin:10px 0;
}
.form__input[required]:focus:invalid {
  border-color: #cf5340;
}
.form__input[required]:valid {
  border-color: #b4d388;
}
.form__input:invalid ~ .form__submit {
  display: none;
}
#sign-in-form{
      padding-top:20px;
}
