@media (max-width:1140px){
      .aside, .as{
            display:none;
      }
      .petitions{
            width:100%;
            float:none;
            margin:0 auto;
      }
      .tags{
            padding:0;
      }
      .first-line,.second-line{
            display:block;
      }
}
@media (max-width:768px){
      .left-buttons, .right-buttons{
            display:none;
      }
      .responsive-menu{
            display:block;
      }
}
