@media (max-width:1140px){
      .aside{
            diaply:none;
      }
      .block{
            width:100%;
      }
}
@media (max-width:768px){
      .menu, .sign, .search{
            display:none;
      }
      .responsive-menu{
            display:block;
      }
}
