/*
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
*, html{
      outline: 0;
      margin:0;
      padding:0;
}
body{
      margin:0;
      padding:0;
      background:#eeeeee !important;
      font-family: 'Lato', sans-serif;
}
.wrapper{
      max-width:1170px;
      margin:0 auto;
}
a, a:hover, a:focus, a:active{
      text-decoration:none;
      color:none;
}
/* header */
header{
      height:90px;
      background:#fff;
}
.logo{
      float:left;
      line-height:90px;
      font-size:20px;
      color:#009688;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:bold;
}
.menu{
      float:left;
      margin-left:15px;
      line-height:90px;
}
.menu a{
      list-style:none;
      font-size:15px;
      margin:0 10px;
      display:inline-block;
      color:#969696;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      transition: .3s ease;
}
.menu a:hover{
      color:#212121;
      text-decoration:none;
}
.search{
      line-height:70px;
      margin-left:10px;
      color:#969696;
      float:left;
}
.sign{
      float:right;
      line-height:90px;
}
.sign a{
      list-style:none;
      font-size:15px;
      margin:0 5px;
      display:inline-block;
      color:#969696;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      transition: .3s ease;
}
.sign a:hover{
      color:#212121;
      text-decoration:none;
}
/* main */
.cover{
      background:#eeeeee;
}
.create{
      color:#fff;
      text-align:center;
      height:400px;
      width:100%;
      background:url('http://i.imgur.com/Puiq9kA.jpg') no-repeat center rgba(0, 106, 80, 0.7);
}
.create-wrapper{
      width:700px;
      padding:100px;
      margin:0 auto;
}
.create h1{
      margin-bottom:15px;
}
.create h4{
      margin-bottom:40px;
}
.create .create-button{
      color:#fff;
      top:80px;
      font-size:15px;
      font-weight:bold;
      padding:10px 35px;
      border:2px solid #fff;
      border-radius:3px;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      transition: .3s ease;
}
.create .create-button:hover{
      color:#009688;
      background:#fff;
      text-decoration:none;
}
.create-background{
      margin-top:-400px;
      height:400px;
      width:100%;
      background:url('http://i.imgur.com/WYGAYmr.png') repeat;
}
/* petition blocks */
.petitions{
      float:left;
}
.block{
      max-width:768px;
      height:250px;
      margin:35px 25px 35px 0;
      background:#fff;
}
.aside{
      width:377px;
}
.as{
      float:right;
      width:357px;
      margin-top:35px;
      background:#fff;
}
.tags{
      min-height:200px;
      text-align:left;
}
.popular{
      min-height:350px;
}
.footer{
      height:500px;
}
/* single petition */
.image{
      overflow:hidden;
      width:250px;
      height:250px;
      float:left;
}
.image img{
      margin-left:-20%;
      height:250px;
}
.progress-bar{
      position:absolute;
      margin-top:-250px;
      padding:0 auto;
      height:250px;
      width:250px;
}
.cover-img{
      position:absolute;
      margin-top:-250px;
      height:250px;
      width:250px;
      background:url('http://i.imgur.com/cRV49jh.png') repeat;
}
.content{
      margin:5px 0 0 10px;
      width:498px;
      float:right;
      text-align:left;
}
.content h4{
      color:#212121;
}
.content p{
      font-size:15px;
      margin-top:-2px;
      color:#959595;
}
.petition-content{
      margin-top:15px;
      height:95px;
      overflow:hidden;
      color:#585858;
}
.petition-tags{
      margin-top:10px;
      width:98%;
      padding-bottom:15px;
      border-bottom:1px solid #eeeeee;
}
.tag{
      padding:4px 10px;
      background:#eeeeee;
      border-radius:12px;
      font-size:13px;
      color:#959595;
}
.petition-buttons, .petition-buttons a{
      font-size:13px;
      color:#959595;
}
.time{
      opacity:0.5;
      float:left;
      margin-top:5px;
}
.btns{
      float:right;
      margin-top:5px;
      margin-right:10px;
}
.btns a{
      display:inline-block;
      margin:0 5px;
      opacity:0.5;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      transition: .3s ease;
}
.btns a:hover{
      opacity:1;
      color:#009688;
      text-decoration:none;
}
.tag:hover{
      text-decoration:none;
      color:#959595;
}
/* aside */
.tags h4, .popular h4{
      margin:10px 0 10px 15px;
}
.popular-tags{
      margin:10px;
      text-align:left;
}
.tags .tag{
      display:inline-block;
      margin:5px 5px;
}
/* footer (always below) */
.more-button-block{
      width:100%;
      float:left;
      margin:80px 0;
      text-align:center;
}
.more-petitions{
      position:relative;
      color:#009688;
      font-size:15px;
      font-weight:bold;
      padding:10px 35px;
      border:2px solid #009688;
      border-radius:3px;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      transition: .3s ease;
}
.more-petitions:hover{
      background:#009688;
      color:#fff;
      text-decoration:none;
}
.up-block i{
      position:relative;
      margin-top:50px;
      color:#009688;
}
/* popular petition */
.pop-petition{
      color:#656565;
      text-align:left;
}
.pop-petition h4{
      font-size:15px;
      margin:0;
      font-weight:bold;
}
.inline{
      display:inline-block;
}
.mini-bar{
      height:60px;
}
.mini-title{
      min-height:60px;
      padding-top:15px;
}
.border{
      border-bottom:1px solid #eeeeee;
}
.pop-petition:hover, .pop-petition:focus, .pop-petition:active{
      text-decoration:none;
      color:#656565;
}
